<h1>Hi! Please confirm your email!</h1>

<p>
    Set him active in the dashboard from the link below! <br><br>
    <a href="{{ editClientUrl }}">Activate user!</a>.
</p>

<p>
    Cheers!
</p>
