{% extends 'frontend-layout.html.twig' %}
{% block body %}
    <style>
        .centered-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>

    <div class="centered-container">
        <h1>Order confirmed.</h1>
    </div>

{% endblock %}

