{% extends 'frontend-layout.html.twig' %}

{% block body %}
    <style>
        .centered-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
    </style>

    <div class="centered-content">
        <h1>Thanks for your order!</h1>
    </div>
{% endblock %}

